html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-size:16px;
	background-color:#F5EED4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#main{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	background-color:#FFF;
	min-height:600px;
}
#header{
	height:160px;
	box-shadow:2px 2px 2px #666666;
}
#breadcrumb{
}
#sidebar{
	width:220px;
	float:left;
}
#content{
	float:left;
	width:740px;
}

#sidebar ul{
}
#sidebar li{
	list-style:none;
	background-color:#FFB643;
	display:block;
}
#sidebar li a, #sidebar li span{
	text-decoration:none;
	color:#FDE3B8;
}
#sidebar li div{
	padding:10px;
}
#sidebar li.noselect{
	background-color:#FFB643 !important;
}
#sidebar li .submenu div{
	padding-left:20px;
}
#sidebar li.selected, #sidebar li:hover{
	background-color:#FDC66F;
}


#breadcrumb ul{
	width:100%;
	padding:10px 5px;
	margin-bottom:10px;
	background-color:#FFF;
	box-shadow:-4px 11px 8px -13px #666666;
}
#breadcrumb li{
	display:inline;
	list-style:none;
}
#breadcrumb li:after{
	content:' > ';
}
#breadcrumb li:last-child:after{
	content:'';
}

h1{
	font-size:24px;
	padding-left:15px;
	margin:15px 0;
}
h2{
	font-size:18px;
	padding-left:15px;
	margin:15px 0;
}
.results{
	padding:10px;
}
.item{
	position:relative;
	border-bottom:solid 1px #999;
}
.item .imagen{
	position:absolute;
	left:5px;
	top:5px;
}
.item .info {
	padding: 5px 5px 15px 66px;
	min-height:60px;
}
.item .info .titulo{
	font-weight:bold;
}
.item .info p{
	font-size:12px;
}
.item .info .precio
{
	position:absolute;
	right:12px;
	bottom:5px;
	font-weight:bold;
}

.detalle{
	padding:15px;
	position:relative;
}
.detalle .imagen{
	position:absolute;
	left:15px;
	top:5px;
}
.detalle .info {
	padding: 5px 5px 15px 195px;
	min-height:158px;
}
.detalle .info .titulo{
	font-weight:bold;
}
.detalle .info p{
	font-size:12px;
}
.detalle .info .precio
{
	position:absolute;
	left:210px;
	bottom:30px;
	font-weight:bold;
}
.button{
	background-color:#FFB643;
	color:#FEE3B8;
	padding:10px 15px;
	cursor:pointer;
}
.button:hover{
	color:#FFF;
}
.button.comprar{
	position:absolute;
	right:15px;
	bottom:25px;
}
.caracteristicas{
	padding:0 15px;
}